<ng-container *ngIf="movie">
  <div class="movie-details">
    <img class="movie-details__image" [src]="getMovieImageSrc(movie)" alt="">
    <div class="movie-details__info">
      <p class="movie-details__info__name">{{movie.name}} ({{movie.releaseDate | date}})</p>
      <p>Episode: {{movie.episodeNumber}}</p>
      <p>Director: {{movie.director}}</p>
      <p>Producer: {{movie.producer}}</p>
      <p class="movie-details__info__opening-crawl">{{movie.openingCrawl}}</p>
    </div>
  </div>
</ng-container>
