@import "mixins";

@font-face {
  font-family: 'MriyaGrotesk';
  src: url('https://raw.githubusercontent.com/JoseLuis11/sw-imgs/main/MriyaGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'StarWars';
  src: url('https://raw.githubusercontent.com/JoseLuis11/sw-imgs/main/Starjhol.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'MriyaGrotesk', serif;
  color: #FFF2D8;
}


