<div class="home">
  <button class="home__sort-button" type="button" (click)="sortByEpisode()">
    Sort by Episode {{sortEpisode}}
  </button>
  <div class="movies">
    <ng-container *ngFor="let movie of movies">
      <div @fade class="movies__movie" [routerLink]="['/movies', getMovieId(movie)]">
        <img class="movies__movie__image" [src]="getMovieImageSrc(movie)" [alt]="'star wars episode ' + movie.episodeNumber">
        <div class="movies__movie__info">
          <h2 class="movies__movie__info__name">{{movie.name}}</h2>
          <p>{{movie.releaseDate | date}}</p>
          <p>Episode: {{movie.episodeNumber}}</p>
          <p>Director: {{movie.director}}</p>
          <p>Producer: {{movie.producer}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
