.app {
  background-image: url("https://raw.githubusercontent.com/JoseLuis11/sw-imgs/main/background-stars.jpg");
  padding: 32px;
  margin: 0;
  height: calc(100vh - (32px * 2));
  display: grid;
  justify-content: center;

  &__title {
    font-family: 'StarWars', serif;
    color: #FDD154;
    font-size: 64px;
    text-align: center;
  }

  &__movies {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 64px;
    &__movie {
      display: grid;
      grid-template-columns: repeat(2, auto);
      width: 600px;
      height: max-content;
      background-color: #181818;
      border-radius: 16px;
      cursor: pointer;
      overflow: hidden;
      &__name {
        color: #FDD154;
      }
      &__info {
        padding: 8px;
      }
      &__image {
      }
    }
  }
}
