<div class="app">
  <h1 class="app__title">Star Wars Movies</h1>

    <div class="app__movies">
      <ng-container *ngFor="let movie of movies">
        <div class="app__movies__movie">
          <img class="app__movies__movie__image" style="display: inline-block" [src]="imagesUrl + '/episode_' + movie.episodeNumber + '.jpg'" width="300px" alt="">
          <div class="app__movies__movie__info">
            <h2 class="app__movies__movie__title">{{movie.name}}</h2>
            <p>{{movie.releaseDate}}</p>
            <p>Episode: {{movie.episodeNumber}}</p>
            <p>Director: {{movie.director}}</p>
            <p>Producer: {{movie.producer}}</p>
          </div>
        </div>
      </ng-container>
    </div>
</div>
