@import "../assets/mixins/media-queries";

.app {
  display: grid;
  padding: 32px;
  margin: 0;
  height: calc(100vh - (32px * 2));
  background-image: url("https://raw.githubusercontent.com/JoseLuis11/sw-imgs/main/background-stars.jpg");
  overflow-y: scroll;

  &__title {
    font-family: 'StarWars', serif;
    color: #FDD154;
    font-size: 64px;
    text-align: center;
  }

  &__main-content {
    display: grid;
    row-gap: 16px;
    grid-template-rows: repeat(3, min-content);
  }

  bread-crumbs {
    margin-left: 12px;
  }

}
