.character-details {
  padding: 16px;
  font-size: 20px;
  margin: 0 12px;
  background-color: #181818;
  border-radius: 16px;
  &__name {
    color: #FDD154;
    text-align: center;
  }
  &__info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 20px;
    &__main {

    }
    &__secondary {
      &__related-films {
        width: max-content;
      }
    }
  }

  @media (max-width: 599px) {
    &__info {
      //grid-template-columns: 100%;
      &__secondary__related-films {
        //display: none;
      }
    }
  }
}
