<div class="character-details" *ngIf="character">
  <h2 class="character-details__name">{{character.name}} ({{character.birth}})</h2>
  <div class="character-details__info">
    <div class="character-details__info__main">
      <p>Gender: {{character.gender}}</p>
      <p>Hair Color: {{character.hairColor}}</p>
      <p>Eye Color: {{character.eyeColor}}</p>
    </div>
    <div class="character-details__info__secondary">
      <p class="character-details__info__secondary__related-films" [tooltip]="relatedFilms" [position]="TooltipPosition.RIGHT">Related Films</p>
      <div class="character-details__info__secondary__home-world">
        <button class="character-details__info__secondary__home-world__see-info-button"
                type="button"
                (click)="showHomeWorld = !showHomeWorld">{{!showHomeWorld ? 'Show ' : 'Hide '}}
                Home World
        </button>
        <div *ngIf="showHomeWorld" @collapse class="character-details__info__secondary__home-world__info">
          <p class="character-details__info__secondary__home-world__info__name">{{homeWorld.name}}</p>
          <p>Population: {{homeWorld.population}}</p>
          <p>Climate: {{homeWorld.climate}}</p>
          <p>Gravity: {{homeWorld.gravity}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
